# заполняем если используется '.env'
TOKEN_CRYPTO_BOT= Токен приложения полученный у @CryptoBot
TOKEN_BOT= Токен бота полученный у @BotFather
TOKEN_LOGGER_BOT= Токен для логирования бота полученный у @BotFather

MAIN_ADMIN=id в телеграмме главного админа

# такие настройки если запускаем через docker
REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Данные для подключения к БД (PostgreSQL)
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASSWORD=123456789 # заполняем если используется '.env'
DB_NAME=auto_shop

USE_SECRET_STORAGE=FALSE
# только если используется защищённое хранилище
STORAGE_SERVER_URL="https://127.0.0.1:220"

MODE=PROD # TEST, DEV, PROD

# только для развёртывания через Docker
INIT_DB=true
FILLING_DB=true