__pycache__/
*.pyc
.idea/
.venv/

*.log
*.secrets.env
*.env
*.test.env
*.enc
tests/manual_test.py
media/products/
media/sent_mass_msg_image/
media/temp/
media/ui_sections/


# CA
certs/ca/ca.key

# Private keys
certs/**/**/*.key
certs/**/**/*.pfx
certs/**/**/*.pem

# OpenSSL artifacts
certs/**/*.csr
certs/**/*.srl
certs/**/*.pem

# Configs for cert generation
certs/**/*.cnf